{% set uniqueId = uniqueId() %}
<div id="{{ uniqueId }}" class="modal smart-modal" data-backdrop="false" data-keyboard="false" data-href="{{ path('app_new_product') }}" >
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
            <div class="modal-header">
                <h3 class="modal-title" id="header">New Product</h3>
            </div>
            <div class="modal-body">
                <div>

                        {{ form(user_form) }}


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-modal-close-no-refresh" >{{ 'Cancel'|trans }}</button>
                <button type="submit" class="btn btn-success btn-p-lr-10 submit">{{ 'action.save'|trans }}</button>

            </div>
            </form>
        </div>
    </div>
</div>