<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}TimeMetrics{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/vendor/bootstrap.min.css') }} " rel="stylesheet">
            {#        <link href="{{ asset('css/app.bootstrap.mod.css') }}" rel="stylesheet"/>#}
            <link href="{{ asset('css/vendor/jquery-ui-1.10.0.custom.css') }} " rel="stylesheet">
            <link href="{{ asset('css/vendor/all.min.css') }} " rel="stylesheet">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
            <link href="{{ asset('css/modal/modal.popup.css') }}" rel="stylesheet">
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
            {#        #}{#<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet"/>#}

        {% endblock %}

</head>
<body>
{% block javascripts %}
    <script src="{{ asset('js/vendor/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery-ui-1.10.0.custom.min.js') }}"></script>
    <script src="{{ asset('js/vendor/all.min.js') }}"></script>
    {#    <script src="{{ asset('js/modal/popup.js') }}"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/modal/new.modal.js"></script>
    <script src="/js/incercare/incercare.js"></script>
{% endblock %}
<main>
    <div class="col-md-12">
        {% block main %}
            {% block body %}
            {% endblock %}
        {% endblock %}
    </div>
    <div class="floating-alert">
        {% for message in app.flashes('success') %}
            <div class="alert btn-success">
                <span> {{ message }} </span>
                <button class="btn-close btn btn-success pull-right" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert btn-danger">
                {{ message }}
                <button class="btn-close btn btn-danger" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
        {% endfor %}
    </div>
</main>
<footer>{% block footer %}{% endblock %}</footer>
<div id="popupCollection"></div>
<div id="confirmCollection"></div>
<div id="InfoCollection" style="z-index:65535;"></div>
</body>
</html>
