{% set uniqueId = uniqueId() %}
<div id="{{ uniqueId }}" class="modal smart-modal" data-backdrop="false" data-keyboard="false" data-href="{{ path('app_new_membership') }}" >
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h4  class="col text-center">Membership {{ membership.id }}</h4>
            </div>
            <div class="modal-body">

                <table class="table">
                    <thead>

                    <tr class="col text-center">

                        <th>Client Name</th>
                        <th>Age</th>
                        <th>Package Included</th>
                        <th>RFID</th>
                    </tr>

                    </thead>

                    <tbody>

                    <tr class="col text-center">
                        <td> {{ membership.ClientName }}</td>
                        <td> {{ membership.Age }}</td>
                        <td>
                            {{ membership.Package.Name }}
                        </td>
                        <td> {{ membership.RFID }}</td>
                    </tr>

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-modal-close-no-refresh" >{{ 'Exit'|trans }}</button>

            </div>

        </div>

    </div>
</div>

